{% extends 'base.html' %}
{% block content %}
  <div class="main" style="width:100%;">
    <div class="article">
      <div class="map"><span> 当前位置：<a href='/'>主页</a> > <a href='/liuyan/'>给我留言</a></span> </div>
      <div class="title">
        <h1> 给我留言 </h1>
      </div>
      <div class="article_content">
          <p>姓名：lihang        生年：1990         籍贯：重庆</p>
          <p>邮箱：root@linhut.cn</p>
          <p>我的GitHub @xxx</p>
          <p>我的weibo @xxx</p>
          <p>我的Gmail @xxx@gmail.com</p>
          <p>人生微语:</p>
          <p>恰同学少年,风华正茂;书生意气,挥斥方遒. 人需要去拼搏，拼搏会让你更加精彩.</p>
      </div>
    </div>
  </div>
{% endblock %}