
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>给我留言-响应式新闻技术博客类织梦模板(自适应手机端)</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="static/images/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all" href="static/css/style.css" />
<link rel="stylesheet" type="text/css"  href="static/css/font-awesome.min.css"/>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="static/js/yycm.js"></script>
</head>
<body>

{% include 'header.html' %}

<div class="wrap" >
  <div class="main" style="width:100%;">
    <div class="article">
      <div class="map"><span> 当前位置：<a href='/'>主页</a> > <a href='/liuyan/'>给我留言</a></span> </div>
      <div class="title">
        <h1> 给我留言 </h1>
      </div>
      <div class="article_content"> <p>&nbsp;给我留言&mdash; 给我留言&mdash;给我留言&mdash;给我留言&mdash;给我留言&mdash;给我留言</p> </div>
    </div>
  </div>
</div>

{% include "footer.html"%}

</body>
</html>