<div class="clear"></div>
﻿<div class="footer">
  <div class="wrap">
    <div class="group">
      <h3>关于本站</h3>
      <p></p>
    </div>
    <div class="group">
      <h3>联系我</h3>
      <p>
      <li>YeLongCu</li>
      <li>QQ:329439966</li>
      </p>
    </div>
    <div class="group">
      <h3>特别鸣谢</h3>
      <p>
      <li><span>某某博客</span></li>
      </p>
    </div>
    <div class="clear"></div>
    <p class="ffooter">Copyright &copy; 2002-2011 某某博客新闻 版权所有 | 粤ICP备32659865号  </p>
  </div>
</div>