<div class="top"><span href="#" class="totop"></span>
    <div class="topmenu">
        <ul id="menu-top" class="wrap">
            <li><a>您好！欢迎来到我的博客！{{ title }}</a></li>
        </ul>
    </div>
    <div class="wrap page-header">
        <h1 style="margin-top: 20px;"><a href="/" title="主页"><img src="static/images/logo.png" width="" height=""
                                                                  border="0" alt=""></a></h1>
        <span>我的网站，可以后台设置此处文字！</span>
        <div class="contact">
            <li><a href="#" target="_blank" title="订阅本站"><i class="fa fa-rss fa-2x"></i></a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1943759704&site=qq&menu=yes" target="_blank" title="QQ联系"><i
                    class="fa fa-qq fa-2x"></i></a></li>
            <li><a href="http://www.weibo.com" target="_blank" title="新浪微博"><i class="fa fa-weibo fa-2x"></i></a></li>
            <li><a href="http://t.qq.com" target="_blank" title="腾讯微博"><i class="fa fa-pinterest-square fa-2x"></i></a>
            </li>
        </div>
    </div>
    <div class="nav">
        <div class="wrap zwrap">
            <div class="navbar-header">
                <li class="navbar-toggle"><i class="fa fa-list fa-2x"></i></li>
                <li style="float:right;display:inline-block">
                    <div class="toggle-search"><i class="fa fa-search fa-2x"></i></div>
                </li>
                <li style="float:right;">
                    <div class="search-expand">
                        <div class="search-expand-inner">
                            <form onSubmit="return checkSearchForm()" method="post" name="formsearch" id="searchform"
                                  class="searchform themeform" action="/plus/search.php">
                                <input type="text" class="search" name="q"
                                       onblur="if(this.value=='')this.value='按回车键搜索...';"
                                       onfocus="if(this.value=='按回车键搜索...')this.value='';" value="按回车键搜索..."
                                       placeholder="按回车键搜索">
                                <input type="hidden" value="title" name="show">
                                <input type="hidden" value="1" name="tempid">
                                <input type="hidden" value="news" name="tbname">
                                <input name="mid" value="1" type="hidden">
                                <input name="submit" value="search" type="hidden">
                            </form>
                        </div>
                    </div>
                </li>
            </div>
            <div class="navbar-collapse">
                <ul>
                    <li class="menu-item current_page_item"><a href="/">首页</a></li>

                    {% for foo in nav_list %}
                    <li class="menu-item "><a href="list">{{ foo.title }}</a>
                        <ul class="sub-menu"></ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="notic">
        <div class="wrap subnotic"><i class="fa fa-bullhorn"></i> 此网站为技术博客，欢迎广大知识爱好者分享探讨！</div>
    </div>
</div>
