{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>响应式新闻技术博客类织梦模板(自适应手机端)</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="order by dede58.com" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="static/images/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all" href="{% static "css/style.css" %}" />
<link rel="stylesheet" type="text/css"  href="static/css/font-awesome.min.css"/>
<script type="text/javascript" src="static/js/jquery.min.js"></script>
<script type="text/javascript" src="static/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="static/js/yycm.js"></script>
</head>
<body>

{% include 'header.html' %}

<div class="wrap">
  <div class="main">
    <div class="screen">
      <div class="slide_container">
        <ul class="rslides" id="slider">
          <li> <a href="article" target="_blank"><img src="static/images/bigpic01.jpg"></a> </li>
          <li> <a href="article" target="_blank"><img src="static/images/bigpic02.jpg"></a> </li>
          <li> <a href="article" target="_blank"><img src="static/images/bigpic03.jpg"></a> </li>
          <li> <a href="article" target="_blank"><img src="static/images/bigpic04.jpg"></a> </li>
        </ul>
      </div>
    </div>
    <div class="block">
      <h2><span class="category"> <a href="detail.html" rel="category tag" >随心笔记</a> <i class="fa fa-caret-right"></i></span><a href="/News/2.html"  target="_ablank" >这个没有略缩图，不会显示前面的图片！</a></h2>
      <div class="clear"></div>

      <div class="preview"> 如果没有略缩图，就不会显示前面的图片！这个没有略缩图！如果没有略缩图，就不会显示前面的图片！这个没有略缩图！如果没有略缩图，就不会显示前面的图片！这个没有略缩图！…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="article" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 198 </span><span> </span><span class="more"><a href="article" title="这个没有略缩图，不会显示前面的图片！">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/News/" rel="category tag" >随心笔记</a> <i class="fa fa-caret-right"></i></span><a href="/News/1.html"  target="_ablank" >如果没有略缩图，就不会显示前面的图片！</a></h2>
      <div class="clear"></div>

      <div class='viewimg'> <a href='/News/1.html' title='如果没有略缩图，就不会显示前面的图片！' target='_ablank' class='ipic'> <img src='http://ecms064.99yuanma.net:8888/e/data/tmp/titlepic/4374f60cf0669c1c4c2a86c9dfb3bd19.gif' alt='如果没有略缩图，就不会显示前面的图片！' class='thumbnail' /><span class='shine' style='background-position: 160px 50%;'> </span></a> </div>

      <div class="preview"> 如果没有略缩图，就不会显示前面的图片！如果没有略缩图，就不会显示前面的图片！如果没有略缩图，就不会显示前面的图片！如果没有略缩图，就不会显示前面的图片！如果没有略缩图，就…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/News/1.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 143 </span><span> </span><span class="more"><a href="/News/1.html" title="如果没有略缩图，就不会显示前面的图片！">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/cms/" rel="category tag" >Cms文章</a> <i class="fa fa-caret-right"></i></span><a href="/cms/12.html"  target="_ablank" >Dede两句代码增加自定义属性</a></h2>
      <div class="clear"></div>

      <div class="preview"> Dede网站频道变多之后都会发觉默认的几个自定义属性不够用了，想自己增加自定义属性。今天就为大家提供自定义属性的SQL语句。 第一步：在DEDECMS后台左栏点击系统； 第二步：选择系…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/cms/12.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 132 </span><span> </span><span class="more"><a href="/cms/12.html" title="Dede两句代码增加自定义属性">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/cms/" rel="category tag" >Cms文章</a> <i class="fa fa-caret-right"></i></span><a href="/cms/11.html"  target="_ablank" >Dede简单搬家</a></h2>
      <div class="clear"></div>

      <div class="preview"> 很多人咨询DEDE程序安装和数据库还原问题（网站转移）。发现很多人对数据库备份和还原并不熟悉，所以做了这个教程，希望对大家有用。 一般的用户会安装PHPmyadmin或者帝国还原工具…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/cms/11.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 195 </span><span> </span><span class="more"><a href="/cms/11.html" title="Dede简单搬家">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/cms/" rel="category tag" >Cms文章</a> <i class="fa fa-caret-right"></i></span><a href="/cms/10.html"  target="_ablank" >Html技巧-简单的把Table转成Div</a></h2>
      <div class="clear"></div>

      <div class="preview"> 许多网页设计师都喜欢，将两个或者多个容器等高的并排放置，并在里面展示每个容器的内容，就象经典表格布局中的单元格控制几个栏目的位置，也喜欢容器的内容居中或顶部对齐显…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/cms/10.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 118 </span><span> </span><span class="more"><a href="/cms/10.html" title="Html技巧-简单的把Table转成Div">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/cms/" rel="category tag" >Cms文章</a> <i class="fa fa-caret-right"></i></span><a href="/cms/9.html"  target="_ablank" >dede简单点赞功能开发</a></h2>
      <div class="clear"></div>

      <div class="preview"> 首先后台执行SQL ALTERTABLEdede_archivesADDzanint(11)NOTNULLDEFAULT'0'AFTERweight; 也就是在 dede_archives 表中增加 zan 这个字段,加到weight这个字段后边。 然后再次执行 CREATETABLEIFNOTEXISTS`dede_zan`( `id`int(…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/cms/9.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 200 </span><span> </span><span class="more"><a href="/cms/9.html" title="dede简单点赞功能开发">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/cms/" rel="category tag" >Cms文章</a> <i class="fa fa-caret-right"></i></span><a href="/cms/8.html"  target="_ablank" >dede去后台验证码</a></h2>
      <div class="clear"></div>

      <div class="preview"> 1.打开根目录下的DATA文件夹里的\safe\inc_safe_config.php这个文件。 2.用记事本打开这个文件 找到 $ safe_gdopen =1,2,3,4,5,6; 替换成 $ safe_gdopen =1,2,3,4,5;…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/cms/8.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 74 </span><span> </span><span class="more"><a href="/cms/8.html" title="dede去后台验证码">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/cms/" rel="category tag" >Cms文章</a> <i class="fa fa-caret-right"></i></span><a href="/cms/7.html"  target="_ablank" >Dede利用ajax无限加载文章</a></h2>
      <div class="clear"></div>

      <div class="preview"> 很多用织梦dedecms做图片类的网站都需要用到无限加载这个功能，这个功能需要用到ajax，下面我就告诉大家如何实现这样的功能。 首先找到并打开/plus/list.php文件，在里面找到如下代码…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/cms/7.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 181 </span><span> </span><span class="more"><a href="/cms/7.html" title="Dede利用ajax无限加载文章">阅读详情</a></span> </div>
    </div>
<div class="block">
      <h2><span class="category"> <a href="/html/" rel="category tag" >HTML技巧</a> <i class="fa fa-caret-right"></i></span><a href="/html/6.html"  target="_ablank" >网站运行天数代码</a></h2>
      <div class="clear"></div>

      <div class="preview"> 如何在网站顶部添加JS代码，显示本站已运行XX天,今天我给大家发布一下这个代码，很多博客站或者别的站都能用上！…… </div>
      <div class="preem"> <span><i class="fa fa-clock-o"></i> 06-05 </span><span><i class="fa fa-comment-o"></i> <a href="/html/6.html" class="ds-thread-count" data-thread-key="156">暂无评论</a> </span><span><i class="fa fa-eye"></i> 89 </span><span> </span><span class="more"><a href="/html/6.html" title="网站运行天数代码">阅读详情</a></span> </div>
    </div>

    <div class='pagination'>&nbsp;&nbsp;<a href="/cms/">点击查看更多</a> &nbsp;</div>
  </div>

<div class="sider">
  <div class="right">
    <div class="author">
      <div class="topauthor"> <img alt="" src="static/images/avatar.jpeg" class="avatar avatar-100 photo" height="100" width="100"> <span class="intag">博客主人</span><span class="names">YeLongCu</span></br>
        <span class="talk"> 男，文化程度不高性格有点犯二，已经20来岁至今未婚，闲着没事喜欢研究各种代码，资深技术宅。 </span> </div>
      <span class="bot"></span> </div>
    <div class="butauthor author">
      <li> <span class="bignum" ID="bignum1"></span>文章总数 </li>
      <li> <span class="bignum">1330</span>访问次数 </li>
      <li> <span class="bignum" ID="days"></span>建站天数 </li>
    </div>
    <div class="subblock"> <img src="static/images/3cd871e89f2f6eb8a3a032653a4f8018.jpg"> </div>
    <div class="subblock">
      <h3>推荐文章</h3>
      <ul>
        <li>
          <div class="sideshow"><a href="/News/2.html" target="_ablank"  title="这个没有略缩图，不会显示前面的图片！">  </a> <a href="/News/2.html" target="_ablank"  title="这个没有略缩图，不会显示前面的图片！"> 这个没有略缩图，不会显示前面的图片！ </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/News/1.html" target="_ablank"  title="如果没有略缩图，就不会显示前面的图片！"> <img width='80' height='60' src='http://ecms064.99yuanma.net:8888/e/data/tmp/titlepic/4374f60cf0669c1c4c2a86c9dfb3bd19.gif' class='icon wp-post-image' alt='如果没有略缩图，就不会显示前面的图片！' title='如果没有略缩图，就不会显示前面的图片！' /> </a> <a href="/News/1.html" target="_ablank"  title="如果没有略缩图，就不会显示前面的图片！"> 如果没有略缩图，就不会显示前面的图片！ </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/12.html" target="_ablank"  title="Dede两句代码增加自定义属性">  </a> <a href="/cms/12.html" target="_ablank"  title="Dede两句代码增加自定义属性"> Dede两句代码增加自定义属性 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/11.html" target="_ablank"  title="Dede简单搬家">  </a> <a href="/cms/11.html" target="_ablank"  title="Dede简单搬家"> Dede简单搬家 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/10.html" target="_ablank"  title="Html技巧-简单的把Table转成Div">  </a> <a href="/cms/10.html" target="_ablank"  title="Html技巧-简单的把Table转成Div"> Html技巧-简单的把Table转成Div </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>

      </ul>
    </div>
    <div class="subblock"> <img src="static/images/3cd871e89f2f6eb8a3a032653a4f8018.jpg"> </div>
    <div class="subblock">
      <h3>热门文章</h3>
      <ul>
        <li>
          <div class="sideshow"><a href="/News/2.html" target="_ablank"  title="这个没有略缩图，不会显示前面的图片！">  </a> <a href="/News/2.html" target="_ablank"  title="这个没有略缩图，不会显示前面的图片！"> 这个没有略缩图，不会显示前面的图片！ </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/News/1.html" target="_ablank"  title="如果没有略缩图，就不会显示前面的图片！"> <img width='80' height='60' src='http://ecms064.99yuanma.net:8888/e/data/tmp/titlepic/4374f60cf0669c1c4c2a86c9dfb3bd19.gif' class='icon wp-post-image' alt='如果没有略缩图，就不会显示前面的图片！' title='如果没有略缩图，就不会显示前面的图片！' /> </a> <a href="/News/1.html" target="_ablank"  title="如果没有略缩图，就不会显示前面的图片！"> 如果没有略缩图，就不会显示前面的图片！ </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/12.html" target="_ablank"  title="Dede两句代码增加自定义属性">  </a> <a href="/cms/12.html" target="_ablank"  title="Dede两句代码增加自定义属性"> Dede两句代码增加自定义属性 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/11.html" target="_ablank"  title="Dede简单搬家">  </a> <a href="/cms/11.html" target="_ablank"  title="Dede简单搬家"> Dede简单搬家 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/10.html" target="_ablank"  title="Html技巧-简单的把Table转成Div">  </a> <a href="/cms/10.html" target="_ablank"  title="Html技巧-简单的把Table转成Div"> Html技巧-简单的把Table转成Div </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>

      </ul>
    </div>
    <div class="subblock"> <img src="static/images/3cd871e89f2f6eb8a3a032653a4f8018.jpg"> </div>
    <div class="subblock">
      <h3>标签</h3>
      <ul class="tag_cloud">
         <a href="/plus/search.php?q=增加自定义"  target="_blank" title="增加自定义" class="tag-link-9" >增加自定义</a>  <a href="/plus/search.php?q=Dede"  target="_blank" title="Dede" class="tag-link-9" >Dede</a>  <a href="/plus/search.php?q=搬家"  target="_blank" title="搬家" class="tag-link-9" >搬家</a>  <a href="/plus/search.php?q=点赞功能"  target="_blank" title="点赞功能" class="tag-link-9" >点赞功能</a>  <a href="/plus/search.php?q=Dede点赞功能"  target="_blank" title="Dede点赞功能" class="tag-link-9" >Dede点赞功能</a>  <a href="/plus/search.php?q=后台验证码"  target="_blank" title="后台验证码" class="tag-link-9" >后台验证码</a>  <a href="/plus/search.php?q=代码"  target="_blank" title="代码" class="tag-link-9" >代码</a>  <a href="/plus/search.php?q=网站运行时间"  target="_blank" title="网站运行时间" class="tag-link-9" >网站运行时间</a>  <a href="/plus/search.php?q=标题"  target="_blank" title="标题" class="tag-link-9" >标题</a>
      </ul>
    </div>
    <div class="subblock linkcat">
      <h3>友情链接</h3>
      <ul>

        <li><a href='http://www.baidu.com/' target='_blank'>百度一下</a> </li>

        <li><a href='http://www.taobao.com/' target='_blank'>淘宝</a> </li>

        <li><a href='http://www.adashuo.com/' target='_blank'>创业找项目</a> </li>

        <li><a href='http://www.sucai58.com/' target='_blank'>建站素材</a> </li>

      </ul>
    </div>
    <ul class="widgets">
    </ul>
  </div>
</div>
<script>
var s1 = '2016-05-24';//设置为你的建站时间
s1 = new Date(s1.replace(/-/g, "/"));
s2 = new Date();
var days = s2.getTime() - s1.getTime();
var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
document.getElementById('days').innerHTML = number_of_days;
</script>
<script type="text/javascript">
function NewDate(str) {
str = str.split('-');
var date = new Date();

date.setUTCHours(0, 0, 0, 0);
return date;
}
function showsectime() {
var birthDay =NewDate("2016-05-29");
var today=new Date();
var timeold=today.getTime()-birthDay.getTime();
var sectimeold=timeold/1000
var secondsold=Math.floor(sectimeold);
var msPerDay=24*60*60*1000;
var e_daysold=timeold/msPerDay;
var daysold=Math.floor(e_daysold);
var e_hrsold=(daysold-e_daysold)*-24;
var hrsold=Math.floor(e_hrsold);
var e_minsold=(hrsold-e_hrsold)*-60;
var minsold=Math.floor((hrsold-e_hrsold)*-60);
var seconds=Math.floor((minsold-e_minsold)*-60).toString();
document.getElementById("bignum").innerHTML = daysold;
setTimeout(showsectime, 1000);
}
showsectime();
</script>
<script type="text/javascript">
var a = 1;
var b = 6;
var c = 2;
var las_number = a + b+ c;
document.getElementById("bignum1").innerHTML = Number(a) + Number(b)+ Number(c);
</script> </div>

{% include "footer.html"%}

</body>
</html>