<div class="clear"></div>
﻿<div class="footer">
  <div class="wrap">
    <div class="group">
      <h3>关于本站</h3>
      <p></p>
    </div>
    <div class="group">
      <h3>联系我</h3>
      <p>
      <li>LiHang</li>
      <li>QQ:1943759704</li>
      </p>
    </div>
    <div class="group">
      <h3>特别鸣谢</h3>
      <p>
      <li><span>创世博客</span></li>
      </p>
    </div>
    <div class="clear"></div>
    <p class="ffooter">Copyright &copy; 2017-2069 创世博客 版权所有 | 粤ICP备32659865号  </p>
  </div>
</div>