{% load static %}

<div class="sider">
  <div class="right">
    <div class="author">
      <div class="topauthor"> <img alt="" src="{% static "/images/avatar5.jpg" %}" class="avatar avatar-100 photo" height="100" width="100"> <span class="intag">博客主人</span><span class="names">LiHang</span></br>
        <span class="talk"> 男，文化程度不高性格有点犯二，已经20来岁至今未婚，闲着没事喜欢研究各种代码，资深技术宅。 </span> </div>
      <span class="bot"></span> </div>
    <div class="butauthor author">
      <li> <span class="bignum" ID="bignum1"></span>文章总数 </li>
      <li> <span class="bignum">1330</span>访问次数 </li>
      <li> <span class="bignum" ID="days"></span>建站天数 </li>
    </div>
    <div class="subblock"> <img src="{% static "/images/3cd871e89f2f6eb8a3a032653a4f8018.jpg" %}"> </div>
    <div class="subblock">
      <h3>推荐文章</h3>
      <ul>
          {% for foo in recommend_list %}
              <li>
                <div class="sideshow"><a href="/article-{{ foo.id }}.html" target="_ablank"  title="{{ foo.title }}">  </a> <a href="/article-{{ foo.id }}.html" target="_ablank"  title="{{ foo.title }}"> {{ foo.title }} </a> <span class="datetime"> {{ foo.created_at|date:'Y/m/d' }} </span> </div>
              </li>
          {% endfor %}
      </ul>
    </div>
    <div class="subblock"> <img src="{% static "/images/3cd871e89f2f6eb8a3a032653a4f8018.jpg" %}"> </div>
    <div class="subblock">
      <h3>热门文章</h3>
      <ul>
        <li>
          <div class="sideshow"><a href="/cms/12.html" target="_ablank"  title="Dede两句代码增加自定义属性">  </a> <a href="/cms/12.html" target="_ablank"  title="Dede两句代码增加自定义属性"> Dede两句代码增加自定义属性 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/11.html" target="_ablank"  title="Dede简单搬家">  </a> <a href="/cms/11.html" target="_ablank"  title="Dede简单搬家"> Dede简单搬家 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/10.html" target="_ablank"  title="Html技巧-简单的把Table转成Div">  </a> <a href="/cms/10.html" target="_ablank"  title="Html技巧-简单的把Table转成Div"> Html技巧-简单的把Table转成Div </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/9.html" target="_ablank"  title="dede简单点赞功能开发">  </a> <a href="/cms/9.html" target="_ablank"  title="dede简单点赞功能开发"> dede简单点赞功能开发 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>
<li>
          <div class="sideshow"><a href="/cms/8.html" target="_ablank"  title="dede去后台验证码">  </a> <a href="/cms/8.html" target="_ablank"  title="dede去后台验证码"> dede去后台验证码 </a> <span class="datetime"> 2016/06/05 </span> </div>
        </li>

      </ul>
    </div>
    <div class="subblock"> <img src="{% static "/images/3cd871e89f2f6eb8a3a032653a4f8018.jpg" %}"> </div>
    <div class="subblock">
      <h3>标签</h3>
      <ul class="tag_cloud">
         <a href="/plus/search.php?q=增加自定义"  target="_blank" title="增加自定义" class="tag-link-9" >增加自定义</a>
      </ul>
    </div>
    <div class="subblock linkcat">
      <h3>友情链接</h3>
      <ul>

        <li><a href='http://www.baidu.com/' target='_blank'>百度一下</a> </li>

        <li><a href='http://www.taobao.com/' target='_blank'>淘宝</a> </li>

        <li><a href='http://www.adashuo.com/' target='_blank'>创业找项目</a> </li>

        <li><a href='http://www.sucai58.com/' target='_blank'>建站素材</a> </li>

      </ul>
    </div>
    <ul class="widgets">
    </ul>
  </div>
</div>